[flake8]
extend-ignore = E203, E501
exclude =
    # No need to traverse our git directory
    .git,
    # No need to traverse virtual environment
    .venv, venv,
    # There's no value in checking cache directories
    __pycache__,
    # Builds
    build, dist
max-complexity = 10
